header h1{
    position: relative;
    font-family: Frida, cursive;
    color: rgba($color:#ffffff, $alpha: 0.9);
    font-size: 3vh;
    vertical-align: bottom;
    padding-top: 3.5vh;
    padding-bottom: 3.5vh;
}
header{
    position:relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 10vh;
    left: 0px;
    top: 0px;
    background: #5089CD;
    text-align:center;
}

