<h2>Alkalmazott adatainak módosítása felvétele</h2>
<hr />
<div class="tabla">
    <table>
        <tbody>
            <tr>
                <td>Teljes név</td>
                <td>
                    <section class="block"><input type="text" id= "teljesNev"></section>
                </td>
            </tr>
            <tr>
                <td>Jelszó</td>
                <td>
                    <section class="block"><input type="text" id="jelszo"></section>
                </td>
            </tr>
            <tr>
                <td>Születési hely</td>
                <td>
                    <section class="block"><input type="text"  id= "szuletesiHely"></section>
                </td>
            </tr>
            <tr>
                <td>Születési idő</td>
                <td>
                    <section class="block"><input type="text"  id= "szuletesiIdo"></section>
                </td>
            </tr>
            <tr>
                <td>Anyja neve </td>
                <td>
                    <section class="block"><input type="text"  id= "anyjaNeve"></section>
                </td>
            </tr>
            <tr>
                <td>Állandó lakcím </td>
                <td>
                    <section class="block"><input type="text"  id= "allandoLakcim"></section>
                </td>
            </tr>
            <tr>
                <td>Ideiglenes lakcím </td>
                <td>
                    <section class="block"><input type="text"  id= "ideiglenesLakcim"></section>
                </td>
            </tr>
            <tr>
                <td>Személyigazolvány szám </td>
                <td>
                    <section class="block"><input type="text"  id= "szemelyigazolvanySzam"></section>
                </td>
            </tr>
            <tr>
                <td>Lakcímkártya szám </td>
                <td>
                    <section class="block"><input type="text"  id= "lakcimkartyaSzam"></section>
                </td>
            </tr>
            <tr>
                <td>Adóazonozító jel </td>
                <td>
                    <section class="block"><input type="text"  id= "adoazonositoJel"></section>
                </td>
            </tr>
            <tr>
                <td>TAJ szám</td>
                <td>
                    <section class="block"><input type="text"  id= "tajSzam"></section>
                </td>
            </tr>
            <tr>
                <td>Jogosítvány kategória</td>
                <td>
                    <section class="block"><input type="text"  id= "jogositvanyKategoria"></section>
                </td>
            </tr>
            <tr>
                <td>Jogosítvány szám</td>
                <td>
                    <section class="block"><input type="text"  id= "jogositvanySzam"></section>
                </td>
            </tr>
            <tr>
                <td>Számlavezető bank neve </td>
                <td>
                    <section class="block"><input type="text"  id= "szamlavezetoBankNeve"></section>
                </td>
            </tr>
            <tr>
                <td>Bankszámlaszám </td>
                <td>
                    <section class="block"><input type="text"  id= "bankszamlaszam"></section>
                </td>
            </tr>
            <tr>
                <td>Gyermekek száma</td>
                <td>
                    <section class="block"><input type="text"  id= "gyermekekSzama"></section>
                </td>
            </tr>
            <tr>
                <td>Beosztás</td>
                <td>
                    <section class="block"><input type="text"  id= "beosztas"></section>
                </td>
            </tr>
            <tr>
                <td>Jogosultság</td>
                <td>
                    <section class="block"><input type="text"  id= "jogosultsag" value="Alkalmazott"></section>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<nav>
    <ul>
        <li>
            <button mat-button>Új alkalazott felvétele</button>
        </li>
        <li>
            <button routerLink="../adatokkezelese" mat-button>Vissza</button>
        </li>
    </ul>
</nav>