
<h2 class="cim">Feladatok</h2> 
<hr />
<div class="tabla">
    <table>
        <thead>
            <tr>
                <th>Feladat név</th>
                <th>Feladat leírás</th>
                <th>Határidő</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor = 'let data of readData'>
                <td>{{data.feladatnev}}</td>
                <td>{{data.feladatLeiras}}</td>
                <td>{{data.feladatHatarido}}</td>
            </tr>
        </tbody>
    </table>
</div>
<nav>
    <ul>
        <li>
            <a href="" class="buttons">Feladatok létrehozása</a>
        </li>
    </ul>
</nav>